    body {
        background-image: url("websitenewtestv647/images/background.jpg");
        background-size: cover; 
        background-repeat: no-repeat; 
        background-attachment: fixed;
    }
